//mobile

footer {
  background-color: #fbdfe9;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .footerwrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
    .textbox {
      h4 {
        text-align: center;
      }
      .mapouter {
        position: relative;
        text-align: right;
        height: 300px;
        width: 300px;

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 300px;
          width: 300px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          width: 300px;
        }
        .textarea {
          height: 100px;
        }
        .submit {
          width: 50px;
        }
      }
    }
  }

  .totop {
    display: flex;
    padding-top: 30px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #c0282e;
      &:hover {
        border-bottom: 1px solid #c0282e;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  footer {
    .footerwrapper {
      display: flex;
      flex-direction: row;
      gap: 30px;
      width: 800px;
      .textbox {
        width: 400px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    .footerwrapper {
      gap: 50px;
      width: 1100px;

      .textbox {
        h4 {
          text-align: center;
        }
        .mapouter {
          padding-left: 20px;

          .gmap_canvas {
          }
        }
      }
    }
  }
}
