//mobile

.row-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fbdfe9;
  padding-top: 100px;
  padding-bottom: 100px;

  .wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .product-div {
      width: 300px;

      img {
        width: 100%;
        &:hover {
          cursor: crosshair;
        }
      }

      .info-div {
        width: 290px;
        display: flex;
        justify-content: space-between;
        h6 {
          font-size: 12pt;
          color: #c0282e;
          padding: 0px;
          margin: 2px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  h3 {
    padding-top: 50px;
    color: #c0282e;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 640px) {
  .row-two {
    .wrapper {
      width: 1000px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      .product-div {
        width: 350px;

        .info-div {
          width: 340px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .row-two {
    padding-top: 0px;
    h1 {
      padding: 30px;
    }
    .wrapper {
      width: 1200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;

      .product-div {
        width: 350px;
      }
    }
  }
}
