@import "navbar.scss";
@import "intro.scss";
@import "shopping.scss";
@import "about.scss";
@import "footer.scss";

body,
html {
  scroll-behavior: smooth;
  font-family: "IBM Plex Serif", serif;
  margin: 0px;
  background-color: #fbf3f3;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
